@{
    ViewData["Title"] = "Credits Page";
}

<div class="parent container d-flex justify-content-center align-items-center h-100">
    <div class="row">
        <div class="col">
            <div class="row mt-2 mb-4">
                <div class="btnContainer col-4">
                    <a asp-controller="Home" asp-action="Index">
                        <img class="nimBtn" src="~/images/Nim-Button.png" width="50%" />
                    </a>
                    <a asp-controller="Home" asp-action="Index">
                        <h2 class="btnText">Go Back</h2>
                    </a>
                </div>
                <div class="col-8"></div>
            </div>
            <div class="row space-xs"></div>
            <div class="row mt-4 mb-2">
                <div class="col"></div>
                <div class="col-10">
                    <h2 class="text-center">
                        Credts:<br /><br />
                        Naomi Garcia Vazquez<br /><br />
                        Wren McEntire<br /><br />
                        Joshua Singvah<br /><br />
                        Gavin Zellner
                    </h2>
                </div>
                <div class="col"></div>
            </div>
            <div class="row space-m"></div>
        </div>
    </div>
</div>