@{
    ViewData["Title"] = "Rules Page";
}

<div class="parent container d-flex justify-content-center align-items-center h-100">
    <div class="row">
        <div class="col">
            <div class="row mt-2 mb-4">
                <div class="btnContainer col-4">
                    <a asp-controller="Home" asp-action="Index">
                        <img class="nimBtn" src="~/images/Nim-Button.png" width="50%" />
                    </a>
                    <a asp-controller="Home" asp-action="Index">
                        <h2 class="btnText">Go Back</h2>
                    </a>
                </div>
                <div class="col-8"></div>
            </div>
            <div class="row space-xs"></div>
            <div class="row mt-4 mb-2">
                <div class="col"></div>
                <div class="col-10">
                    <h2 class="text-center">
                        Game: "The game of NIM"
                        <br/>
                        Objective:
                        <br/>
                        The objective of the game is to strategically remove matches from a row in order to force the opponent to take the last match.
                        <br/>
                        Setup:
                        <br/>
                        Determine the level of match difficulty: Easy, Medium, or Hard. This determines the initial number of matches in the row.
                        </br></br>
                        Easy: The row starts with 1, 3, and 5 matches.</br>
                        Medium: The row starts with 1, 3, 5, and 7 matches.</br>
                        Hard: The row starts with 1, 3, 7, and 9 matches.</br>
                        </br>

                        Gameplay:</br>
                        First decide who will take the first turn. Then the player whose turn it is selects a "Row button" from the available options and clicks it. This action removes matches from the row.
                        After each move, the player clicks the "Pass turn" button to allow the Next player to make its move.
                        The game continues with alternating turns between the player and the opponent until no matches remains.
                        <br/>
                        <br/>
                        Game End:
                        The player who is forced to take the last match loses the game.
                    </h2>
                </div>
                <div class="col"></div>
            </div>
            <div class="row space-m"></div>
        </div>
    </div>
</div>