@{
    ViewData["Title"] = "Rules Page";
}

<div class="parent container d-flex justify-content-center align-items-center h-100">
    <div class="row">
        <div class="col">
            <div class="row mt-2 mb-4">
                <div class="btnContainer col-4">
                    <a asp-controller="Home" asp-action="Index">
                        <img class="nimBtn" src="~/images/Nim-Button.png" width="50%" />
                    </a>
                    <a asp-controller="Home" asp-action="Index">
                        <h2 class="btnText">Go Back</h2>
                    </a>
                </div>
                <div class="col-8"></div>
            </div>
            <div class="row space-xs"></div>
            <div class="row mt-4 mb-2">
                <div class="col"></div>
                <div class="col-10">
                    <h2 class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Adipiscing commodo elit at imperdiet dui. In hac habitasse platea dictumst vestibulum. Et netus et malesuada fames.
                        Nibh ipsum consequat nisl vel pretium lectus quam id leo. Arcu ac tortor dignissim convallis aenean et tortor at.
                    </h2>
                </div>
                <div class="col"></div>
            </div>
            <div class="row space-m"></div>
        </div>
    </div>
</div>